<ion-view view-title="{{'l_prypto_cards' | translate}}">
    <ion-content>
        <div class="card" ng-hide="wallet">
            <div class="item item-divider item-text-wrap">
                <p>{{'l_prypto_no_wallet' | translate}}</p>
            </div>
        </div>
        <div class="card" ng-show="wallet">
            <div class="item item-divider text-center">
                {{'l_redeem_prypto' | translate}}
            </div>
            <div class="item item-text-wrap">
                <label class="item item-input">{{'l_enter_or_scan_prypto' | translate}}</label>
                <form ng-submit="redeemPryptoCard()">
                    <div class="row row-center">
                        <div class="col col-75">
                            <input type="text" placeholder="{{'l_prypto_code' | translate}}" ng-model="redeem.pryptoCode" style="width:100%" required> <br/>
                            <input type="text" placeholder="{{'l_security_code' | translate}}" ng-model="redeem.securityCode" style="width:100%" required>
                        </div>
                        <div class="col col-25">
                            <a class="button button-assertive" ng-click="scanPryptoCard()" style="width:100%"><i class="fa fa-qrcode fa-lg fa-fw"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="button button-block button-assertive" type="submit">{{'l_redeem!' | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
