<ion-view>
  <ion-nav-title>{{"l_settings" | translate}}</ion-nav-title>
  <ion-content padding="true">
      <div class="list list-inset">
          <div class="item item-divider">{{'l_wallet' | translate}}</div>
          <label class="item item-input item-select">
              <div class="input-label">{{'l_fiat_currency'|translate}}</div>
              <select ng-model="$settings.fiatCurrency">
                  <option>USD</option>
                  <option>EUR</option>
                  <option>CNY</option>
                  <option>JPY</option>
                  <option>RUB</option>
                  <option>CAD</option>
                  <option>GBP</option>
                  <option>AUD</option>
                  <option>NZD</option>
            </select>
          </label>
          <ion-toggle ng-model="$settings.showBlockToast" toggle-class="toggle-assertive">{{'l_show_blocks' | translate}}</ion-toggle>

          <div class="item item-divider">{{'l_security' | translate}}</div>
          <ion-toggle ng-model="$settings.useTouchID" toggle-class="toggle-assertive">{{'l_touch_id' | translate}}</ion-toggle>
          <ion-toggle ng-model="$settings.use2FA" toggle-class="toggle-assertive">{{'l_2FA' | translate}}</ion-toggle>
      </div>
  </ion-content>
</ion-view>
