<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">Address Transactions</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeAddressTxModal()">{{'l_close'|translate}}</button>
        </div>
    </ion-header-bar>
  <ion-content>
      <p class="centerText">{{txAddress.addrStr}}</p>
      <ion-list>
          <ion-item class="item-icon-left item-text-wrap" ng-repeat="tx in txArray">
              <i class="icon fa fa-sign-out royal" ng-if="tx.type === 'SEND'"></i>
              <i class="icon fa fa-sign-in balanced" ng-if="tx.type === 'RECEIVE'"></i>
              <i class="icon fa fa fa-exchange stable" ng-if="tx.type === 'WALLET'"></i>
              <p>Tx ID: <i class="boldText">{{tx.txid}}</i></p>
              <p>Size: <i class="boldText">{{tx.size}} (bytes)</i></p>
              <p ng-if="tx.time!==undefined">Received Time: <i class="boldText">{{(tx.time*1000) | date:'dd-MM-yyyy HH:mm:ss Z'}}</i></p>
              <!--
              <p>Type: <i class="boldText">{{tx.type}}</i></p>
                -->
              <p>Amount: <i class="boldText">{{tx.amount | currency : '': 8}}</i></p>
              <!--
              <p>Included in Block: <i class="boldText">{{tx.blockhash}}</i></p>
                -->
              <p>Fees: <i class="boldText">{{tx.fees}}</i></p>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-modal-view>
