<ion-modal-view ng-controller="AddressbookCtrl">
    <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">{{'l_addressbook' | translate}}</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeAddressbookModal()">{{'l_close'|translate}}</button>
        </div>
    </ion-header-bar>
    <button class="button button-assertive button-float" ng-click="addNewAddress()">
        <i class="icon ion-plus"></i>
    </button>
    <ion-content>
        <ion-refresher pulling-text="{{'l_refresh' | translate}}" on-refresh="updateAddressbook()"></ion-refresher>
        <ion-list>
            <ion-item class="item item-text-wrap" ng-hide="addressbookArray.length > 0">
                <p class="centerText">Your addressbook is empty.</p>
            </ion-item>
            <ion-item class="item item-text-wrap" ng-repeat="address in addressbookArray" ng-show="addressbookArray.length > 0">
                <p>Tx ID: <i class="boldText">{{address.id}}</i></p>
                <p>Size: <i class="boldText">{{address.label}} (bytes)</i></p>
                <p>Confirmations: <i class="boldText">{{address.value}}</i></p>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMoreAddresses()"
                             distance="1%"
                             ng-if="moreDataCanBeLoaded">
        </ion-infinite-scroll>
    </ion-content>
</ion-modal-view>