/* Empty. Add your own CSS if you like */
.boldText { 
	font-weight: bold;
}

.centerText {
    text-align: center;
}

.iconPadding {
   padding-right: 20px;
}

.rowNoMargin {
    margin: 0px !important;
}

.image-background {
    background-image: url('../img/background.png');
    background-position: center bottom;
    background-repeat: no-repeat;
}

ion-side-menu.menu-left.menu {
  background-color: #000000 !important;
}

.removeMarginBottom {
  margin-bottom: 0px !important;
}

.no-footer {
    bottom: 0px;
}

.custom-option-btn {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.balance-font {
    font-size:0.85rem;
    font-weight: bold;
    text-align: center;
}

.balance-header {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: auto;
}

.balance-header-nomargin {
    margin: 0px !important;
    padding: 1px !important;
}

.balance-tabs-top {
    top: 31px;
}

.scroll-content {
    bottom: 2px !important;
}
.tabs-top > .tabs, .tabs.tabs-top {
    top: 72px; /* was 44px*/
}

.platform-ios .balance-tabs-top {
    top: 0px;
}

.platform-ios .tabs-top > .tabs, .platform-ios .tabs.tabs-top {
    top: 63px !important;
}

.exchange-desc-font{
    font-size:0.85rem;
}

.exchange-value-font{
    font-size:0.75rem;
}

.exchange-center-thumbnail{
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.button-float {
    background: #00A2E8 !important;
    color: white !important;
    z-index: 12 !important;
    position: absolute !important;
    bottom: 60px;
    right: 40px;
    width: 65px;
    height: 65px;
    border-radius: 50% !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: 0.2s linear !important;
    transition: 0.2s linear !important;
    -webkit-transition-property: -webkit-transform, all !important;
    transition-property: transform, all !important;
}
.button-float:hover {
    -webkit-transform: translate3d(0, -1px, 0) !important;
    transform: translate3d(0, -1px, 0) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
    background: #0076A8 !important;
}
.button-float .icon:before {
    font-size: 34px;
}

.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 50px;
  padding: 50px;
  font-size: 50px;
  position: fixed;
  bottom: 50px; /* Adjust to where you want it */
  right: 25px; /* Adjust to where you want it */
  z-index: 9999;
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px; /* Note, this must be half the font size */
  color: white;
}